<template>
    <div>
        <p class="text-center" v-if="loading">
            Loading...
        </p>

        <p class="text-center" v-if="!loading">
            <button class="btn btn-success" 
                v-if="status == 0" @click="add_friend">Add Friend</button>

            <button class="btn btn-primary" 
                v-if="status == 'pending'" @click="accept_friend">Accept Friend</button>

            <span class="text-sucess" 
                v-if= "status == 'waiting'"> Waiting For Response </span>

            
            <span class="text-primary" 
                v-if= "status == 'friends'"> Friend </span>
        </p>
    </div>

        
    
</template>

<script>
    export default {
        mounted() {
             this.check_relationship()
        },
        props : ['profile_user_id'],
        data(){ 
            return{
                status: '',
                loading: true
            }
        },
        methods:{
            add_friend(){
                this.loading = true
                axios.get('/add_friend/'
                 + this.profile_user_id)
                 .then(response => {
                      if(response.data){
                          this.check_relationship()
                          this.loading = false
                          new Noty({
                                type:'success',
                                layout: 'bottomLeft',
                                text: 'Friend Request Sent !!'
                            }).show();
                      }
                        
                 })
            },

            accept_friend(){
                 this.loading = true
                axios.get('/accept_friend/'
                 + this.profile_user_id)
                 .then(response => {
                      if(response.data){
                          this.check_relationship()
                          this.loading = false
                          
                          new Noty({
                                type:'success',
                                layout: 'bottomLeft',
                                text: 'You are now a friend. Awesome !!'
                            }).show();
                      }                          
                 })
            },

            check_relationship(){
                axios.get('/check_relationship_status/' + this.profile_user_id)  
            .then(response => {
                // JSON responses are automatically parsed.
                //this.posts = response.data
                console.log(response)
                this.status = response.data.friendship_status
                this.loading = false
            })
            }
        }
    }
</script>
